[submodule "src/nanoprintf"]
	path = src/lib/nanoprintf
	url = https://github.com/charlesnicholson/nanoprintf.git
[submodule "src/lib/lvgl"]
	path = src/lib/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "src/lib/xml"]
	path = src/lib/xml
	url = https://github.com/Ryzee119/xml_c.git
[submodule "src/lib/nxdk"]
	path = src/lib/nxdk
	url = https://github.com/Ryzee119/nxdk.git
[submodule "src/lib/pbgl"]
	path = src/lib/pbgl
	url = https://github.com/fgsfdsfgs/pbgl.git
