[submodule "src/lib/lvgl"]
	path = src/libs/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "src/lib/nxdk"]
	path = src/libs/nxdk
	url = https://github.com/XboxDev/nxdk.git
[submodule "src/libs/mbedtls"]
	path = src/libs/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
